     {% extends 'medical.html' %}
     {% load static %}

  {% block title %}{% endblock %}
<!--    <script src="{% static 'js/card.js' %}"></script>-->
{% block content %}

   <div class="card-container">
       {% for doc in doc %}
  <div class="card">
    <div class="card-image">
      <img src="{{doc.image.url}}" alt="Image 1">
    </div>
    <div class="card-content">
      <h3 class="card-title">Title 1</h3>
      <div><button class="card-button"></button></div>
    </div>
  </div>
  {% endfor %}

  <!-- Repeat the above card divs to create more cards -->
</div>
     {% endblock %}

